<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Achieve</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <section class="main-header">
    <p>つぶやきアプリ</p>
    <img src="assets/Tweeeeeeet!.png">
  </section>
</body>
<footer>
  <p>TEA-KO Inc.</p>
</footer>
</html>